@font-face {
    font-family: 'ComfortaaBold';
    src: url('fonts/Comfortaa_Bold.ttf');
}
html, body {
    height: 100%;
    cursor: pointer;
}

body {
    margin: 0;
    overflow: hidden;
}

#boardContainer {
    width: 100%;
    height: 100%;
    background: #e6e0cf;
}

#annotations {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #ecdf83;
    padding: 40px;
    font-family: "ComfortaaBold", serif;
    background: rgba(255,255,255,0.97);
    transition: all;
    transition-duration: 1200ms;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}
#annotations.display {
    opacity: 1;
}